# map() Function in Python

The map() function applies a given function to all items in an input list (or any other iterable) and returns a map object(an iterator). This is particularly useful for transforming data in a list comprehensively.

In [3]:
def sq(n):
    return n**2
print(sq(6))
#But by using function e need to call each time with iteration for list of number
#so for this issues we can use map() function

36

In [5]:
#so we will use same above example for map function
l1=[3,4,5,7,6,8,23,42,60]
list(map(sq,l1))

[9, 16, 25, 49, 36, 64, 529, 1764, 3600]

In [11]:
#Now Lambda function with map function for same list
sq1=list(map(lambda x :x**2, l1))
print(sq1)

[9, 16, 25, 49, 36, 64, 529, 1764, 3600]

In [12]:
#Map function with multiple iterables
n1=[1,2,3,4,5]
n2=[6,7,8,9,10]
list(map(lambda x,y:x+y,n1,n2))

[7, 9, 11, 13, 15]

In [17]:
#Map to convert list string to integer
l3=['1','3','5','9','7']
intNum=list(map(int,l3))
print(intNum)
type(intNum[0])

[1, 3, 5, 9, 7]

int

In [19]:
#Convert lowercase to uppercase string
l4=['apple','mac','raj','tom','banana']
upstring=list(map(str.upper,l4))
print(upstring)

['APPLE', 'MAC', 'RAJ', 'TOM', 'BANANA']